body{
    margin: 0;
}
* {
    box-sizing: border-box;
}
/* navigation section*/
.navigation-bar{
    font-family:latha;
}

.navigation-bar ul{
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type:none;
    background-color:black;
}

.navigation-bar ul li{  
    display: inline-block;    
}

.navigation-bar li a{
    display: block;
    color:whitesmoke;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 25px 20px;
    letter-spacing: 2px;
}

.navigation-bar ul li:hover{
    background-color:white; 
 }

 .navigation-bar ul a:hover{
     color:#f4511e;
 }

/*About*/
.about-section {
    width: 100%;
    height: 89vh;
    background-image:url(Images/About1.jpeg);
    background-size: 1700px 600px;
    background-blend-mode: multiply;
    justify-content: center;
    display: flex; 
}
.about-text{
    font-size: 20px;
    padding-left: 200px;
    padding-right: 350px;
    text-align: justify;
    line-height: 1.6;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-text{
    color: goldenrod;
    font-size: 20px;
    text-transform:uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: normal;
}

.icon li{
    font-size: 40px;
    color: white;
    display: inline-block;
    margin: 10px 30px;
    padding:20px 20px;
}

.icon1 ul li{
    display: inline-block;

}
