* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navigation section*/
.navigation-bar{
    font-family:latha;
}

.navigation-bar ul{
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type:none;
    background-color:black;
}

.navigation-bar ul li{  
    display: inline-block;    
}

.navigation-bar li a{
    display: block;
    color:whitesmoke;
    text-decoration:none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 25px 20px;
    letter-spacing: 2px;
}

.navigation-bar ul li:hover{
    background-color:white; 
 }

 .navigation-bar ul a:hover{
     color:#f4511e;
 }

 #sub a{
    color: black;
}

#sub :hover{
    color:#f4511e;
}

/* Contact*/
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gray;
    background-image: url(Images/contact_banner.jpg);
    background-size: 1280px 640px;
    
}

.contact .content{
    max-width: 800px;
    text-align: center;
    line-height: 2.0;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:coral;
    text-transform: uppercase;
 
}

.contact .content p{
    font-weight: 300;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    
}

.container{
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 25px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.6;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color:#00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background-color: white;
}

.contactForm h2{
    font-size: 40px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputbox input:focus ~ span, 
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span,
.contactForm .inputbox textarea:valid ~ span{    
    color: #e91e63;
    font-size: 14px;
    transform: translateY(-20px);
}

.contactForm .inputbox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    cursor:pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact{
        padding: 40px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}






 